body {
    margin: 0;
    font-family: Arial;
    background: #0b1a2b;
    color: white;
}

/* Center box */
.center-box {
    text-align: center;
    margin-top: 100px;
}

input, select {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}

/* Buttons */
.btn {
    background: #00bcd4;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.btn-secondary {
    background: #444;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

/* Layout */
.container {
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Cards */
.card {
    background: #132c45;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.highlight {
    border: 2px solid gold;
}

/* Dashboard */
.dashboard {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #091421;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    margin: 10px 0;
    text-decoration: none;
}

.main {
    flex: 1;
    padding: 30px;
}
