<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="dashboard">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>⚡ PRIVYSEC</h2>
        <a href="/">Home</a>
        <a href="/discover">Devices</a>
    </div>

    <!-- Main Content -->
    <div class="main">

        <h2>Security Intelligence Dashboard</h2>

        <div class="grid">

            <!-- Device Info -->
            <div class="card">
                <h3>📊 Device Info</h3>
                <p><b>IP:</b> {{ data.ip }}</p>
                <p><b>MAC:</b> {{ data.mac }}</p>
            </div>

            <!-- Ports -->
            <div class="card">
                <h3>🔓 Open Ports</h3>
                {% if data.ports %}
                    {% for p in data.ports %}
                        <p>• {{ p }}</p>
                    {% endfor %}
                {% else %}
                    <p>No open ports</p>
                {% endif %}
            </div>

            <!-- Classification -->
            <div class="card">
                <h3>🧠 AI Classification</h3>
                <p>{{ device.type }}</p>
                <p>{{ device.confidence }}% confidence</p>

                <ul>
                {% for r in device.reasons %}
                    <li>{{ r }}</li>
                {% endfor %}
                </ul>
            </div>

            <!-- Behavior -->
            <div class="card">
                <h3>📡 Behavior</h3>

                {% if "53/tcp" in data.ports %}
                    <p>Acts as DNS → likely gateway</p>
                {% endif %}

                {% if not data.ports %}
                    <p>Protected by NAT / firewall</p>
                {% endif %}
            </div>

            <!-- Risk -->
            <div class="card highlight">
                <h3>🔐 Risk</h3>
                <h1>{{ risk }}</h1>
                <p>{{ score }}/100</p>
            </div>

            <!-- Issues -->
            <div class="card">
                <h3>⚠ Issues</h3>
                {% for i in issues %}
                    <p>• {{ i }}</p>
                {% endfor %}
            </div>

            <!-- Fixes -->
            <div class="card">
                <h3>🛠 Fixes</h3>
                {% for f in fixes %}
                    <p>• {{ f }}</p>
                {% endfor %}
            </div>

        </div>

        <br>
        <a href="/discover" class="btn-secondary">⬅ Back</a>

    </div>
</div>

</body>
</html>
