<!DOCTYPE html>
<html>
<head>
    <title>PRIVYSEC</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="center-box">
    <h1>⚡ PRIVYSEC</h1>
    <p>Smart Network Scanner</p>

    <!-- DISCOVER -->
    <form action="/discover">
        <button class="btn">Discover Devices</button>
    </form>

    <br>

    <!-- DIRECT SCAN -->
    <form action="/scan" method="post">
        <input name="target" placeholder="Enter IP" required>

        <select name="mode">
            <option value="quick">Quick</option>
            <option value="balanced">Balanced</option>
            <option value="deep">Deep</option>
        </select>

        <button class="btn">Scan</button>
    </form>
</div>

</body>
</html>
